*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 3px 3px 5px rgb(250, 213, 200);

}
img{
    position: relative;
    top: 10px;
    height: 60px;

}nav .pesquisa {
    padding: 30px 0;
    width: 350px;
}
nav .pesquisa input{
    position: relative;
    height: 26px;
    width: 50%;
    left: 2px;
    border: 1px solid;
    border-color: black;
    padding: 0px 10px;
}
nav .pesquisa input::-webkit-input-placeholder{
    padding: 1px;
}
nav .pesquisa button{
    position: relative;
    height: 28px;
    width: 38%;
    left: -1px;
    color: rgb(255, 252, 248);
    background-color: black;
    border: 1px solid;
    border-color: black;
}
ul{
    display: flex;
    padding: 12px 10px;
}
ul li{
    position: relative;
    list-style-type: none;
    padding: 5px;
    right: 5px;
}
@media(max-width:910px){
    nav{
        height: 220px;
        width: 100%;
        flex-direction: column;
    }
    img{
        width: 200px;
        height: 60px;
        left: 10px;
        top: 10px;
    }
    nav .pesquisa {
        padding: 35px 12px;
        width: 350px;
        height: 50px;
    }
    ul{
        display: flex;
        padding: 8px 12px;
        width: 350px;

    }
}